# Don't accidentally commit submission zips or submission files (named exXX_Taigel_Ritter.pdf)
*_Taigel_Ritter.pdf
*.zip

# The same cheatsheet file for every new exercise is too much data
cheat_sheet.pdf

# SystemVeriLog folders
sim/
coverage/
cov_work/

# Machine files
xrun.log
xrun.key
